@page
@model AikidoLive.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1>You have been logged out</h1>
    <p>Click <a asp-page="/Index">here</a> to return to the home page.</p>
</div>