@page
@model AikidoLive.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1>You have been logged out</h1>
    <p>You have successfully signed out of the application.</p>
    <a class="btn btn-primary" href="/">Return to Home Page</a>
</div>