@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="mainContent">
    <div class="productRow"><!-- Each product row contains info of 3 elements -->
        <article class="productInfo"><!-- Each individual product description -->
            <div>
               <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
    </div>
    <div class="productRow"><!-- Each product row contains info of 3 elements -->
        <article class="productInfo"><!-- Each individual product description -->
            <div>
               <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <p class="productContent">Content holder </p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
    </div>
    <div class="productRow"><!-- Each product row contains info of 3 elements -->
        <article class="productInfo"><!-- Each individual product description -->
            <div>
               <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <p class="productContent">Content holder </p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Content holder </p>
        </article>
    </div>
</section>

