@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="mainIndexContent">
<h3 class="emerge-text-hdr">Welcome to Aikido Library</h3>

<p class="emerge-text">Embark on a journey of discovery and mastery with Aikido Library, your premier online destination dedicated to the art and spirit of Aikido. Here, we fuse tradition with innovation, offering an extensive collection of resources for both the seasoned practitioner and the curious beginner.
</p>

<h4 class="emerge-text-hdr">Explore the Essence of Aikido</h4>
<p class="emerge-text">At Aikido Library, we delve deep into the heart of Aikido, presenting an art form that transcends mere physical techniques. Our platform is a treasure trove of knowledge, from the historical roots of Aikido to its modern interpretations and applications.
</p>
<h4 class="emerge-text-hdr">Your Virtual Dojo</h4>
<p class="emerge-text">Our comprehensive digital dojo features a vast array of training materials, instructional videos, and detailed guides. Whether you’re perfecting your technique, learning new katas, or exploring the philosophical underpinnings of Aikido, our library is designed to guide you every step of the way.
</p>
<h4 class="emerge-text-hdr">Community and Connection</h4>
<p class="emerge-text">Join a vibrant community of Aikido enthusiasts from around the globe. Share experiences, gain insights, and connect with fellow practitioners. At Aikido Library, we believe in growing together, fostering a space where knowledge, ideas, and passion for Aikido flourish.
</p>
<h4 class="emerge-text-hdr">Accessible Anytime, Anywhere</h4>
<p class="emerge-text">With a focus on accessibility, Aikido Library brings the world of Aikido to your fingertips. Access our resources anytime, anywhere, and embark on a learning journey that fits your pace and style.
</p>
<p class="emerge-text">Dive into the world of Aikido with us. Explore, learn, and grow with Aikido Library – where the ancient art meets the digital age.
</p>
<h4 class="emerge-text-hdr">Start Your Aikido Journey Today!</h4>

</section>

