@page
@model AikidoLive.Pages.library_titles
@{
    ViewData["Title"] = "The Lost Seminars Morihiro Saito";
}

<h1>@ViewData["Title"]</h1>

<section class="mainContent">
    <div class="productRow"><!-- Each product row contains info of 3 elements -->
        
        <article class="productInfo"><!-- Each individual product description -->
            <div>
               <iframe src="https://player.vimeo.com/video/887499743" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Disk 1</p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887494431" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Disk 2</p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/887495653" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Disk 3</p>
        </article>
    </div>
    <div class="productRow"><!-- Each product row contains info of 3 elements -->
        <article class="productInfo"><!-- Each individual product description -->
            <div>
               <iframe src="https://player.vimeo.com/video/887513513" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Disk 4</p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/888111685" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>                
            </div>
            <p class="productContent">Disk 5</p>
        </article>
        <article class="productInfo">
            <div>
                <iframe src="https://player.vimeo.com/video/888113107" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Disk 6</p>
        </article>
    </div>
    <div class="productRow"><!-- Each product row contains info of 3 elements -->
        <article class="productInfo"><!-- Each individual product description -->
            <div>
               <iframe src="https://player.vimeo.com/video/888108937" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="productContent">Disk 7</p>
        </article>
        <article class="productInfo">
            <div>
                
            </div>
            
        </article>
        <article class="productInfo">
            <div>
                
            </div>
            
        </article>
    </div>
</section>

